
{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>

{{else}}
{{/each}}

<div class="card">

    <div class="card-body">

        <h4>Novo Produto</h4>

          <form action="/produto/nova" method="POST" enctype="multipart/form-data">
        

            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" class="form-control" required='true'>


            <label for="subtitulo">Subtítulo</label>
            <input type="text" name="subtitulo" class="form-control" required>

            <label for="texto">Texto</label>
            <textarea name="texto" class="form-control" required></textarea>

            <label for="slug">Id</label>
             <input type="text" name="slug" class="form-control" required>
            
           
                <div class="form-group mt-3">
                      Imagem
                    <input type="file" name="imagem" class="form-control-file">
                </div>

                 <div class="form-group mt-3">
                      Video
                    <input type="file" name="video" class="form-control-file">
                </div>
                   
                  <div class="form-group mt-3">
                      Audio
                    <input type="file" name="audio" class="form-control-file">
                </div>
           <button class="btn btn-success mt-4" type="submit">Criar Produto</button>

        </form>
    </div>
</div>

