{{#each erros}}

 <div class="alert alert-danger">{{texto}}</div>

{{else}}

{{/each}}

<h3>Novo Produto:</h3>
<div class="card">

<div class="card-body">

<form action="/admin/produto/nova" method="POST">

<label for="titulo">Titulo: </label>
<input type="text" id="titulo" name="titulo" placeholder="Titulo" class="form-control">

<label for="subtitulo">Subtitulo: </label>
<input type="text" name="subtitulo" placeholder="Subtitulo" class="form-control" required>

<h4>Upload de Imagem</h4>
<form action="/upload" method="POST" enctype="multipart/form-data">
<input type="file" name="imagem">
<button type="submit">
    Upload
</button>
</form>

<label for="texto">Texto: </label>
<textarea name="texto" class="form-control" required></textarea>
			
			
<button type="submit" class="btn btn-success mt-4">Cadastrar Produto</button>

</form>

</div>
</div>