<head>
    <link rel="stylesheet" href="../css/app.css">
</head>
<nav class="fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex justify-content-center">
        <div class="copyright">
            Copyright &copy; 2019 <span>Pantaneiro Ecológico</span>
        </div>
    </div>    
</nav>
