<style>
    .copyright{
        font-family:Arial, Helvetica, sans-serif !important;
        font-size: 18px;
        color:white;
        padding: 8px;
    }
</style>
<nav class="fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex justify-content-center">
        <div class="copyright">
            Copyright &copy; 2019 <span>Pantaneiro Ecológico</span>
        </div>
    </div>    
</nav>
