<div class="card">

    <div class="card-body">

        <h1>{{tutorial.titulo}}</h1>
        <hr>
        <small>Data do Tutorial: {{tutorial.data}}</small><br>
        <hr>

        {{tutorial.conteudo}}

    </div>

</div>