<center><h3>NOTÍCIA</h3></center>


    <div>
  

        <h4>{{noticias.titulo}}</h4>
        <small><strong>Descricao:</strong> {{noticias.descricao}}</small><br>
        <small> <strong>Conteúdo:</strong> {{noticias.conteudo}}</small></br>
         <img src="../upload{{noticias.imagem}}"/> 
        {{!-- 
         <video width="320" height="240" controls>
            <source src="../upload/teste.mp4" type="video/mp4">
           
        </video>
         
         <audio controls>
            <source src="/hey.mp3" type="audio/mpeg">
            </audio>
         --}}

    </div>
    
     
        

